go 1.26.2

use (
	.
	./apps/auth
	./apps/course
	./apps/data/api/data
	./apps/data/rpc/data
	./apps/exam
	./apps/learning
	./apps/media
	./apps/message
	./apps/pay
	./apps/promotion
	./apps/remark
	./apps/search
	./apps/trade
	./apps/user
	./pkg
)
